.git
.gitignore
.env
.env.backup
.env.production
node_modules
npm-debug.log
storage/*.key
storage/pail
/vendor
/public/build
/public/hot
.phpunit.cache
.phpunit.result.cache
tests
README.md
DEPLOYMENT.md
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.nova

